form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
  }
  
  textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  h3 {
    color: black;
  }
  
  /* Styling for error messages */
  p {
    color: red;
    margin: 0 0 20px 0;
  }
  
  /* Styling for the submit button */
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  label {
    color: black;
  }